@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Poppins&family=Roboto&family=Young+Serif&display=swap');/*Utilities*/

body {
  width: 100%;
  height: 100%;
  font-family: 'Poppins', serif;

}

.no-scrollbar::-webkit-scrollbar, .textarea::-webkit-scrollbar {
  display: none;
}

.no-scrollbar, .textarea {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.textarea {
  resize: none;
}

/* .container {
  width: 70%;
  margin: auto;
} */

.header {
  border-bottom: 1px solid black
}

.membership-content_heading {
  font-family: 'Young Serif', serif;
}




@tailwind base;
@tailwind components;
@tailwind utilities;