@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Poppins:ital,wght@1,500&family=Roboto:ital,wght@0,400;1,300&family=Young+Serif&display=swap');
/*Utilities*/

body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

/* .container {
  width: 70%;
  margin: auto;
} */

.header {
  border-bottom: 2px solid black
}



@tailwind base;
@tailwind components;
@tailwind utilities;